<!DOCTYPE html>
<html lang="en">
<head>

     <title>Campi</title>

     <!--

     Template 2099 Scenic

     http://www.tooplate.com/view/2099-scenic

     -->

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/magnific-popup.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

     <link rel="stylesheet" href="css/owl.theme.css">
     <link rel="stylesheet" href="css/owl.carousel.css">

     <link rel="stylesheet" href="css/templatemo-green.css">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/tooplate-style.css">

</head>
<body>

<!-- PRE LOADER -->
<div class="preloader">
     <div class="spinner">
          <span class="sk-inner-circle"></span>
     </div>
</div>

<style type="text/css">

     @media(min-width:768px) {
          .custom-navbar {
               background: #4dc47d;
          }
          .custom-navbar.top-nav-collapse {
               background: #4dc47d;
               padding: 20px 0;
          }
     }




</style>
<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
     <div class="container">

          <!-- NAVBAR HEADER -->
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <!-- lOGO -->
               <a href="/accueil" class="navbar-brand">Campi</a>
          </div>

          <!-- MENU LINKS -->
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="/programmesf" class="smoothScroll">{% trans %}Programs{% endtrans %}</a></li>
                    <li><a href="/evenementf" class="smoothScroll">{% trans %}Events{% endtrans %}</a></li>
                    <li><a href="/accueil#aboutlocaux" class="smoothScroll">{% trans %}Local{% endtrans %}</a></li>
                    <li><a href="/accueil#team" class="smoothScroll">{% trans %}Categories{% endtrans %}</a></li>
                    <li><a href="/alertsf" class="smoothScroll">{% trans %}Alert{% endtrans %}</a></li>
                    <li><a href="/accueil#alerts" class="smoothScroll">{% trans %}Claims{% endtrans %}</a></li>
                    <li><a href="/proposition" class="smoothScroll">{% trans %}Propositions{% endtrans %}</a></li>
                    <li><a href="/panier" class="smoothScroll">{% trans %}Panier{% endtrans %}</a></li>
                    <li><a href="/logoutf" class="smoothScroll">{% trans %}Log Out{% endtrans %}</a></li>



               </ul>
               <ul class="nav navbar-nav ml-auto">
                    {% for locale in locales %}
                         {% if locale != app.request.locale %}
                              <li><a class="nav-link" href="{{ path('change_locale', {'locale': locale}) }}"><img style="height: 30px; width: 30px" src="{{ asset('images/'~locale~'.png') }}" alt="{{ locale }}">
                                   </a></li>
                         {% endif %}
                    {% endfor %}
               </ul>
          </div>

     </div>
</div>

<br><br><br>
<!-- PROJECT -->
<section id="locaux" class="parallax-section">
     <div class="col-md-offset-3 col-md-6 col-sm-12">
          <div class="section-title">

               <h4>{% trans %}Our Events{% endtrans %}</h4>


          </div>
     </div>

     <div class="container">

          <div class="row">

               {%for e in events%}

                    <div class="col-md-6 col-sm-6">

                         <!-- PROJECT ITEM -->
                         <div class="project-item">
                              <a href="#"><img style="height: 380px; width: 380px" src="images/properties/{{ e.imageName }}" alt="Bicycle" class="card-img-top"></a>
                              <img src="images/properties" class="img-responsive" alt="">

                              <div class="project-overlay">
                                   <div class="project-info" style="color:#006400">
                                        <h5>{% trans %}Name of Event{% endtrans %}:  {{ e.nom }} </h5>
                                        <h5>{% trans %}Our Event Starts{% endtrans %}: {{ e.date|date("m/d/Y") }}</h5>
                                        <h5>{% trans %}Our Event Ends {% endtrans %}: {{ e.datef|date("m/d/Y") }}</h5>
                                        <h5>{% trans %}Adress{% endtrans %} : {{ e.Lieu }}</h5>
                                        <h5> {{ e.nbrplace }}</h5>


                                   </div>
                              </div>
                              </a>
                         </div>
                         <div class="col-md-6 col-sm-6">
                              {#  <p>{% trans %}More Details{% endtrans %}: {{ e.description }}</p>#}
                              <a href="{{ path('post_likess', {'id': e.id}) }}" class="btn btn-link js-like">

                                   {% if app.user and e.likedByUser(app.user) %}
                                        <i class="fas fa-thumbs-up"></i>
                                   {% else %}
                                        <i class="far fa-thumbs-up"></i>
                                   {% endif %}
                                   <span class="js-like">{{e.likes | length }}&nbsp;</span>
                                   <span class="js-label">{% trans %}Like{% endtrans %}</span>

                              </a>
                         </div>

                    </div>



               {% endfor %}

          </div>
     </div>


<!-- TEAM -->
<section id="team" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="section-title">
                         <h3>Nos Sponsors</h3>
                         <h4>Voici quelques-uns de nos chers sponsors que nous travaillons avec dans notre site de camping en ligne.</h4>
                    </div>
               </div>
               <div class="clearfix"></div>
               <div id="owl-team" class="owl-carousel">
                    {%for s in sponsor%}

                         <div class="col-md-4 col-sm-4 item">
                              <div class="team-item">
                                   <img style="height: 200px; width: 200px" src="images/properties/{{ s.imageName }}" alt="Bicycle" class="card-img-top">
                              </div>

                              <p>{{ s.nom }}</p>
                              <p>{{ s.adresse }}</p>
                              <p>{{ s.numero }}</p>
                              <p>{{ s.mail }}</p>
                              {% for  evenement in s.evenements %}
                                   <td>{{ evenement.nom }}</td>

                              {% endfor %}
                         </div>

                    {% endfor %}
               </div>

          </div>

     </div>
</section>






<footer>




     <div class="container">
          <div class="row">

               <div class="col-md-5 col-sm-6">
                    <h3>Hytaco</h3>
                    <p>08 Rue Ibn Kholdoun , El Ghazela , <br>Riadh El Andalous</p>


               </div>

               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                         <h3>Contact Us</h3>
                         <p><a href="tel:55039837">+216 55 039 837</a></p>
                         <p><a href="mailto:info@company.com">hytaco.group@gmail.com</a></p>
                         <p><a href="#">@ESPRIT</a></p>
                    </div>
               </div>

               <div class="col-md-3 col-sm-12">

                    <h3>A propos de nous</h3>
                    <p>Nous somme un groupe de 6 personnes de l'etabliseement ESPRIT<br> avec une seule motivation , créer<br>le premier site de camping en Tunisie.</p>
                    <ul class="social-icon">
                         <li><a href="#" class="fa fa-twitter"></a></li>
                         <li><a href="#" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-instagram"></a></li>
                         <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>

               </div>
               <div class="clearfix"></div>


          </div>
     </div>
</footer>


<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/custom.js"></script>

{% block javascripts %}
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

     <script>
          function onClickBtnLike(Event){
               Event.preventDefault();

               const url = this.href;
               const spanCount = this.querySelector('span.js-like');
               const icone = this.querySelector('i');

               axios.get(url).then(function (response){

                    spanCount.textContent = response.data.likes;

                    if(icone.classList.contains('fas')){
                         icone.classList.replace('fas' , 'far');
                    }
                    else {
                         icone.classList.replace('far' , 'fas');

                    }
               }).catch(function(error){
                    if (error.response.status === 403){
                         window.alert("vous ne pouvez pas likez un article si vous n'etes pas connecte!")
                    }
                    else{
                         window.alert("une erreur s'est produite vous pouvez essayez plus tard!")

                    }
               });
          }
          document.querySelectorAll('a.js-like').forEach(function (link){
               link.addEventListener('click',onClickBtnLike);
          })
     </script>
{% endblock %}



</body>

</html>
