<!DOCTYPE html>
<html lang="en">
<head>

<title>Scenic HTML Template</title>

<!--

Template 2099 Scenic

http://www.tooplate.com/view/2099-scenic

-->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/magnific-popup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/stylep.css?jjllllklkkluhh">
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/tooplate-style.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <!-- MAIN CSS -->

<style>
    @media(min-width:768px) {
        .custom-navbar {
            background: #4dc47d;
        }
    }
</style>

</head>
<body>




<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
     <div class="container">

          <!-- NAVBAR HEADER -->
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <!-- lOGO -->
               <a href="accueil" class="navbar-brand">Campi</a>
          </div>

          <!-- MENU LINKS -->
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                   <li><a href="/programmesf" class="smoothScroll">Programmes</a></li>
                   <li><a href="/evenementf" class="smoothScroll">Evenements</a></li>
                   <li><a href="#team" class="smoothScroll">Categories</a></li>
                   <li><a href="#aboutlocaux" class="smoothScroll">Locaux</a></li>
                   <li><a href="/alertsf" class="smoothScroll">Alertes</a></li>
                   <li><a href="#alerts" class="smoothScroll">Reclamations</a></li>
                   <li><a href="/proposition" class="smoothScroll">Propositions</a></li>
                   <li><a href="/panier" class="smoothScroll">Panier</a></li>
                   <li><a href="/logoutf" class="smoothScroll">Deconnexion</a></li>

               </ul>
          </div>

     </div>
</div>

<div id="popup1" class="overlay">
    <div class="popup">
        <h2>Reduction</h2>
        <a class="close" href="#">&times;</a>
        <div class="content" >
        </div>
    </div>
</div>

<br><br><br><br><br><br><br>
<div class="wrap cf">
    <h1 class="projTitle">Responsive Table<span>-Less</span> Shopping Cart</h1>
    <div class="heading cf">
        <h1>My Cart</h1>
        <a href="produitf" class="continue">Continue Shopping</a>
    </div>
    {% for pr in produits %}

    <div class="cart">
        <ul class="cartWrap">
            <li class="items odd">

                <div class="infoWrap">
                    <div class="cartSection">
                        <img style="height: 200px; width: 200px" src="images/properties/{{ pr.imageName }}" alt="Bicycle" class="itemImg"></a>
                        <p class="itemNumber">#{{pr.id}}</p>
                        <h3>{{ pr.nom }}</h3>
                        <p> <input type="text" value="1"  class="qty" placeholder="3"/> x  <p>{{ pr.prix }}</p></p>

                    </div>


                    <div class="prodTotal cartSection">
                        <p>{{ pr.prix}}</p>
                    </div>
                    <div class="cartSection removeWrap">
                        <a href="#{{ pr.id }}"  class="remove">x</a>
                    </div>
                </div>
            </li>



            <!--<li class="items even">Item 2</li>-->

        </ul>
    </div>
{% endfor %}
    <div class="promoCode"><label for="promo">Have A Promo Code?</label><input id="promoc" type="text" name="promo" placholder="Enter Code" />
        <a href="#popup1" class="btn" id="promob"></a></div>


    <div class="container">

    </div>
    <hr>
    <br>



</div>
</div>

<br>
</div>
    <div class="subtotal cf">
        <ul>


            <li class="totalRow"><span class="label">Livraison</span><span class="value">0</span></li>
            <li class="totalRow final"><span class="label">Total</span><span class="value" id="finaltotal"> {{ total }}</span></li>
            <li class="totalRow"><a href="#" class="btn continue" id ="checksub">Checkout</a></li>

        </ul>
        <input type="hidden" value="0" id ="reductionpour">
    </div>
</div>
<footer>




     <div class="container">
          <div class="row">

               <div class="col-md-5 col-sm-6">
                    <h3>Hytaco</h3>
                    <p>08 Rue Ibn Kholdoun , El Ghazela , <br>Riadh El Andalous</p>


               </div>

               <div class="col-md-4 col-sm-6">
                    <div class="footer-info">
                    	<h3>Restez en contact</h3>
                         <p><a href="tel:55039837">+216 55 039 837</a></p>
                         <p><a href="mailto:info@company.com">hytaco.group@gmail.com</a></p>
                         <p><a href="#">@ESPRIT</a></p>
                    </div>
               </div>

               <div class="col-md-3 col-sm-12">

                    <h3>A propos de nous</h3>
                    <p>Nous somme un groupe de 6 personnes de l'etabliseement ESPRIT<br> avec une seule motivation , créer<br>le premier site de camping en Tunisie.</p>
                    <ul class="social-icon">
                         <li><a href="#" class="fa fa-twitter"></a></li>
                         <li><a href="#" class="fa fa-facebook"></a></li>
                         <li><a href="#" class="fa fa-instagram"></a></li>
                         <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>

               </div>

               <div class="clearfix"></div>


          </div>
     </div>
</footer>


<!-- SCRIPTS -->

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        document.querySelectorAll('.close').forEach(function (close) {
            close.addEventListener("click", function (e) {
                e.preventDefault();
             var  overlay =  document.getElementById('popup1')
                    overlay.style.visibility = "hidden";
                    overlay.style.opacity = 0;

            });
        });
        document.getElementById("promob").addEventListener("click",async function (event){
            event.preventDefault();
      var res =     await axios.get("http://127.0.0.1:8000/getpour?code="+document.getElementById("promoc").value);
          if (res.status=='200') {
          var overlay =    document.getElementById('popup1');
                  overlay.style.visibility="visible";
                  overlay.style.opacity = 1 ;
              document.querySelectorAll('.content').forEach(function (popup) {
                  popup.innerHTML = "Vouz avez appliqué une reduction de "+res.data.pourcentage+"%"
              });
              var result = parseFloat(document.getElementById('finaltotal').innerHTML)
                  / (1 - (document.getElementById('reductionpour').value / 100));
              document.getElementById('finaltotal').innerHTML = result.toFixed(3)
              document.getElementById('reductionpour').value = parseInt(res.data.pourcentage);
               result  = parseFloat(document.getElementById('finaltotal').innerHTML)
                  * (1 - (document.getElementById('reductionpour').value / 100));
              document.getElementById('finaltotal').innerHTML = result.toFixed(3) ;

          }
        })
        function submit(event) {
            var array = [];
            event.preventDefault();
            document.querySelectorAll('.qty').forEach(function (qty) {
                var y = qty.parentNode.parentNode.parentNode.parentNode ;
                if ( y.style.display != "none"){
                    array.push(parseInt(qty.value));
                }
console.log(array);
                });
            const reduc = parseInt(document.getElementById('reductionpour').value) ;
            const json = JSON.stringify({ "qty": array , 'reduction': reduc});
            console.log(json);
            axios.post("http://127.0.0.1:8000/ajoutcom",json).then(function (res){
                window.location.replace(res.data.link);
            });
        }
document.getElementById("checksub").addEventListener("click",submit);
        function  Delete(event){

            event.preventDefault();

            var vrai = 1-(document.getElementById('reductionpour').value/100) ;
            document.getElementById('finaltotal').innerHTML = document.getElementById('finaltotal').innerHTML - (event.target.parentNode.previousSibling.parentNode.lastChild.previousSibling.previousSibling.previousSibling.lastChild.previousSibling.innerHTML*vrai) ;
 var x =   event.target.parentNode.parentNode.parentNode;
 //console.log( x);
 x.style.display = "none" ;
            var l = event.target.href;
      var id =    l.substring(l.indexOf("#")+1,l.length);
          axios.get("http://127.0.0.1:8000/panierdel/"+id).then(function(response){
console.log(response);
          });
        }
        document.querySelectorAll('.remove').forEach(function (remove){
            remove.addEventListener('click',Delete);
        });

    function Change(event){
        var vrai = 1-(document.getElementById('reductionpour').value/100) ;
        document.getElementById('finaltotal').innerHTML=document.getElementById('finaltotal').innerHTML-(this.
            parentNode.parentNode.parentNode.lastChild.previousSibling.previousSibling.previousSibling.childNodes[1].
            innerHTML)*vrai+(event.target.value *this.parentNode.nextSibling.innerHTML)*vrai;
this.parentNode.parentNode.parentNode.lastChild.previousSibling.
    previousSibling.previousSibling.childNodes[1].innerHTML=  event.target.value *this.parentNode.nextSibling.innerHTML
    }
document.querySelectorAll('.qty').forEach(function (qty){
    qty.addEventListener('change',Change);
});
</script>
{% endblock %}

</body>
</html>